<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="Login.css"/>
</head>
<body>
    <div id="login">
        <h1>Login</h1>
        <form method="post">
            <input type="text" required="required" placeholder="user_id" name="user_id"></input>
            <input type="password" required="required" placeholder="password" name="password"></input>
            <button class="but" type="submit">Login</button>
        </form>
        {% if error %}
        <h3 style="color:red">{{ error }}!</h3>
        {% endif %}
    </div>
</body>
</html>